{% extends 'main/base.html' %}
{% load templatetags %}
{% block content %}


<div class="col-12 mb-5">
    <div class="row">
        <div class="mx-auto p-1 col-6 md-5">
            <div class="card md-5">
                <div class="card-header md-5">
                    <h3 class="card-title md-5">
                        {{ object.title }} ({{ object.slug }})
                    </h3>
                    <img src="{{ object.b_image.url }}" alt="{{ object.title }}">
                </div>
                <div class="cardd-body md-5">
                    <p>
                        {{ object.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mb-5">
    <a class="p-2 btn btn-outline-primary mb-5" href="{% url 'blog:update' object.pk %}">Изменить</a>
</div>
<div class="card-footer">
    Просмотры: {{ object.views_count }}
</div>
{% endblock %}