{% extends 'main/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Категории</h1>
</div>

<div class="container">
    <div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Категория 1</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Типо описание</li>
                    </ul>
                    <a class="p-2 btn btn-outline-primary" href="/product/">перейти</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
