{% extends 'main/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Тут какое-нибудь приветствие</h1>
    <p class="lead">маленькая строчка</p>
</div>


{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img src="/media/category/{{ object.image }}" width="200" height="200"/>
            <h4 class="card-title">{{ object }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-text">Какое-то описание</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            </ul>
            <a class="p-2 btn btn-outline-primary" href="/category/">перейти</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

