{% extends 'main/base.html' %}
{% load templatetags %}
{% block content %}




<p class="fs-2">{{ object.p_name }}</p>
<div class="mx-auto p-1" style="width: 600px;">
      <div class="col-md-12">
        <div class="card mb-12 box-shadow">
            <div class="card-header">
                <img class="card-img-top" src="{{ object.p_image|mediapath }}" height="600">
            </div>
        </div>
    </div>
</div>

<p class="fs-5">{{ object.p_description }} {{ object.p_price }}</p>



{% endblock %}