{% extends 'main/base.html' %}
{% load templatetags %}
{% load crispy_forms_tags %}
{% block content %}


<p class="fs-2">{{ object.p_name }}</p>
<div class="mx-auto p-1" style="width: 600px;">
    <div class="col-md-12">
        <div class="card mb-12 box-shadow">
            <div class="card-header">
                <img class="card-img-top" src="{{ object.p_image|mediapath }}" height="600">
            </div>
        </div>
    </div>
</div>


<p class="fs-5">{{ object.p_description }} {{ object.p_price }}
    {% with all_versions=object.p_version.all %}
        {% for version in all_versions %}
            {% if version.is_active %}
                {{ version }}
            {% endif %}
        {% endfor %}
    {% endwith %}
</p>

{% if user.is_authenticated %}
<div class="col-12 mb-5">
    <a class="p-2 btn btn-outline-primary mb-5" href="{% url 'catalog:products_update' object.pk %}">Изменить</a>
    <a class="p-2 btn btn-outline-primary mb-5" href="{% url 'catalog:products_delete' object.pk %}">Удалить</a>
</div>
{% endif %}


{% endblock %}