{% extends 'main/base.html' %}
{% load templatetags %}
{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ title }}</h1>
</div>

{% if user.is_authenticated %}
<div class="col-12 mb5">
    <a class="p-2 btn btn-outline-primary mb-5" href="{% url 'catalog:products_create' %}">Добавить товар</a>
</div>
{% endif %}

{% for object in object_list %}
    <div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <img class="card-img-top" src="{{ object.p_image|mediapath }}" height="300">
            <h4 class="card-title">{{ object }}</h4>
        </div>
        <div class="card-body">
            <h1<small>{{ object.c_description }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            </ul>
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' object.pk %}">перейти</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
